
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 50% 96%; /* pastel-purple */
    --foreground: 276 38% 41%; /* purple-dark */

    --card: 300 100% 100%;
    --card-foreground: 276 38% 41%;
 
    --popover: 300 100% 100%;
    --popover-foreground: 276 38% 41%;
 
    --primary: 282 59% 59%; /* purple-medium */
    --primary-foreground: 300 100% 100%;
 
    --secondary: 300 56% 78%; /* purple-light */
    --secondary-foreground: 276 38% 41%;
 
    --muted: 270 50% 96%;
    --muted-foreground: 282 30% 50%;
 
    --accent: 300 56% 78%;
    --accent-foreground: 276 38% 41%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 300 56% 78%;
    --input: 300 56% 78%;
    --ring: 282 59% 59%;
 
    --radius: 1rem;
  }
 
  .dark {
    /* Define dark mode colors if needed */
    --background: 276 38% 15%;
    --foreground: 270 50% 96%;
    
    --card: 276 38% 20%;
    --card-foreground: 270 50% 96%;
    
    --popover: 276 38% 15%;
    --popover-foreground: 270 50% 96%;
    
    --primary: 282 59% 59%;
    --primary-foreground: 300 100% 100%;
    
    --secondary: 300 56% 30%;
    --secondary-foreground: 270 50% 96%;
    
    --muted: 270 50% 25%;
    --muted-foreground: 282 30% 70%;
    
    --accent: 300 56% 40%;
    --accent-foreground: 270 50% 96%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 300 56% 30%;
    --input: 300 56% 30%;
    --ring: 282 59% 59%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overscroll-behavior: none;
  }
  input, textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}
